<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A SwiftUI MVVM.</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.ipados</string>
		<string>com.apple.platform.macos</string>
		<string>com.apple.platform.watchos</string>        
		<string>com.apple.platform.tvos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Module name:</string>
			<key>Description</key>
			<string>Name of module you want to implement</string>
			<key>Required</key>
			<true/>
			<key>Default</key>
			<string></string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_MODULENAME___</string>
			<key>Identifier</key>
			<string>MODULENAME</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Add ObservedObject</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>Binding</string>
			<key>Name</key>
			<string>Add ObservedObject</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
            <key>Description</key>
            <string>Summary</string>
            <key>Identifier</key>
            <string>Summary</string>
            <key>Name</key>
            <string>Summary:</string>
            <key>Required</key>
            <true/>
			<key>Type</key>
            <string>text</string>
            <key>NotPersisted</key>
            <true/>
        </dict>
	</array>
</dict>
</plist>
